#debug {
    font-size: 1.5rem;

    padding-left: 5rem;
    padding-top: 3rem;
}

h1 {
    font-size: 4.5rem;

    padding-left: 5vw;
    padding-top: 3vh;
}

.form-group {
    font-size: 1.5rem;

    padding-left: 7vw;
    padding-top: 3vh;
}

.check {
    padding-top: 2vh !important;
}

.check label {
    font-size: 1.8rem;
}

#check {
    width: 3vh !important;
    height: 3vh;
    padding: 3vh;
    margin-right: 0.5vw;
    vertical-align: middle;
}

input {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 15vw;
}

button.form-group {
    padding: 0.5rem;

    margin-left: 7vw;
    margin-top: 1vh;

    background-color: rgb(70,70,70);
    color: white;
}